<main class="profile">
  <div class="profile__inner">
    <div class="profile__image-wrapper">
      <img
        src="https://avatars.mds.yandex.net/i?id=2eeb65844afee5dc830414a1fc1e54c1034faa59-9215166-images-thumbs&n=13"
        alt=""
        class="profile__image"
      />
    </div>
    <ul class="profile__fields">
      {{#each fields}}
        {{{ProfileField data=this}}}
      {{/each}}
      <a href="#" class="profile__link">Change password</a>
      <a href="#" class="profile__link profile__link_color_danger">Log out</a>
    </ul>
  </div>
</main>