
.profile__inner {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile__image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: relative;
    display: block;
  }
  .profile__image-wrapper {
    margin-bottom: 32px;
    width: 128px;
    height: 128px;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
    position: relative;
  }
  .profile__image-wrapper::before {
    content: "Upload image";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50%;
    z-index: 10;
    border-radius: 50%;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.72);
    opacity: 0;
    transition: opacity .3s ease;
    color: var(--main-text-color);
  }
  .profile__image-wrapper:hover::before {
    opacity: 1;
    cursor: pointer;
  }
  .profile__image:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  .profile__fields {
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .profile__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary-text-color);
    padding: 8px 0;
  }
  .profile__field-key {
    color: var(--secondary-text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  .profile__field:hover {
    cursor: pointer;
  }
  .profile__field:hover .profile__field-key {
    color: var(--button-color);
  }
  .profile__field-value {
    color: var(--main-text-color);
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    line-height: normal;
  }
  .profile__link {
    color: var(--button-color);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .profile__link_color_danger {
    color: var(--danger-text-color);
  }
  .profile__link:hover {
    color: var(--button-hover-color);
  }
  .profile__link_color_danger:hover {
    color: var(--danger-text-color);
    opacity: 0.7;
  }
  