.aside {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.aside__header {
  display: none;
}

.aside__user {
  margin-bottom: 35px;
}

.search {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.search__btnIcon_plus {
  mask-image: url("../../../static/icons/plus.svg");
}

.search__btnIcon {
  height: 20px;
  width: 20px;
  margin: auto;
  object-fit: contain;
  mask-size: 100%;
  background-color: var(--color-primary-dark);
}

.search__button {
  background-color: var(--bg-color-secondary-dark);
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: inline-flex;
  cursor: pointer;
  transition: 0.3s ease;
}

.search__label {
  background: var(--bg-color-secondary-dark);
  height: 32px;
  position: relative;
  border-radius: 32px;
  display: block;
  padding: 6px 12px;
  box-sizing: border-box;
  width: 100%;
}

.body_theme_light .search__label {
  background: var(--bg-color-primary-light);
}

.search__input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  color: var(--color-primary-dark);
  outline: none;
}

.body_theme_light .search__input {
  color: var(--color-primary-light);
}

.search__input::placeholder {
  color: var(--color-secondary);
}

.search__icon {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  mask-image: url("../../../static/icons/search.svg");
  color: var(--color-primary-dark);
  object-fit: contain;
  mask-size: 100%;
  background-color: var(--color-primary-dark);
}

.chats {
  width: 320px;
}

.chats__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 65vh;
  padding-right: 16px;
  overflow-y: scroll;
  width: 100%;
  max-width: 320px;
  flex-shrink: 0;
}

@media screen and (width < 720px) {
  .aside__header {
    display: flex;
    justify-content: space-between;
  }

  .aside__headerImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .aside {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .chats {
    width: 100%;
  }

  .chats__list {
    max-height: 80vh;
  }
}
