.users {
  float: left;
  background: var(--secondary-bg-color);
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.users__profile {
  margin-bottom: 8px;
}
.users__top-panel {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 12px;
}
.users__search-form {
  margin: 0;
  padding: 0;
  width: 100%;
}
.users__search-input {
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: var(--input-background-color);
  color: var(--main-text-color);
}
.users__search-input::placeholder {
  color: var(--secondary-text-color);
}
.users__list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
