.chat-card {
  position: relative;
  display: block;
  padding: 8px 16px;
}
.chat-card:hover {
  background-color: var(--primary-bg-color);
  cursor: pointer;
}
.chat-card:hover .chat-card__message {
  color: var(--main-text-color);
}
.chat-card__img {
  float: left;
  width: 70px;
  height: 70px;
  background: var(--secondary-text-color);
  border-radius: 50%;
  margin-right: 16px;
}
.chat-card__name {
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 6px;
}
.chat-card__message {
  color: var(--secondary-text-color);
  margin: 0;
}
.chat-card__counter {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-hover-color);
  color: var(--main-text-color);
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
