.page {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  background-color: #151515;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  place-content: stretch space-between;
}

.body_theme_light .app {
  background-color: var(--bg-color-light);
}

.chat {
  display: flex;
  padding: 32px;
  gap: 32px;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.chat__select {
  color: var(--color-primary-dark);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-secondary-dark);
  border-radius: 20px;
  width: 100%;
}
