<fieldset class="input">
  <label for="{{inputId}}" class="input__label">
    {{#if title}}
      <span class="input__title">{{title}}</span>
    {{/if}}
    {{{children}}}
  </label>
  {{#if error}}
    <span class="input__error">{{error}}</span>
  {{/if}}
</fieldset>