.error-page {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.error-page__code {
    font-size: 256px;
}
.error-page__text {
    position: absolute;
    font-size: 48px;
    transform: rotate(90deg);
}
.error-page__link {
}
