body {
  background-color: #0e1621;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, sans-serif;
}
.chat-list {
  float: left;
  background: #17212b;
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.chat-list__profile {
  margin-bottom: 8px;
}
.chat-list__top-panel {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 12px;
}
.chat-list__search-form {
  margin: 0;
  padding: 0;
  width: 100%;
}
.chat-list__search-input {
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #242f3d;
  color: #fff;
}
.chat-list__search-input::placeholder {
  color: #445259;
}
.chat-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.chat-card {
  position: relative;
  display: block;
  padding: 8px 16px;
}
.chat-card:hover {
  background-color: #2b5278;
  cursor: pointer;
}
.chat-card:hover .chat-card__message {
  color: #fff;
}
.chat-card__img {
  float: left;
  width: 70px;
  height: 70px;
  background: #445259;
  border-radius: 50%;
  margin-right: 16px;
}
.chat-card__name {
  color: #fff;
  margin: 0;
  margin-bottom: 6px;
}
.chat-card__message {
  color: #445259;
  margin: 0;
}
.chat-card__counter {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4082bc;
  color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.chat,
.profile {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.chat__user {
  height: 64px;
  width: 100%;
  background-color: #17212b;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.chat__avatar {
  height: 52px;
  width: 52px;
  background: #445259;
  border-radius: 50%;
}
.chat__username {
  color: #fff;
  font-weight: 400;
  margin-left: 16px;
}
.chat__select-chat {
  color: #445259;
  font-size: 20px;
}
.chat__conversation {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}
.chat__messages {
  padding: 16px 48px;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}
.chat__message {
  padding: 8px 16px;
  background-color: #2b5278;
  border-radius: 0 8px 8px 24px;
  max-width: 40%;
}
.chat__message_owner_me {
  align-self: flex-end;
  border-radius: 8px 0px 24px 8px;
}
.chat__message-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 32px;
  margin: 0;
}
.chat__message-info {
  display: flex;
  justify-content: end;
  font-size: 12px;
  color: #8f8f8f;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.chat__message-time {
}
.chat__message-status {
}
.chat__form {
  display: flex;
  gap: 4px;
  padding: 4px;
  background: #242f3d;
  margin: 8px;
  border-radius: 4px;
}
.chat__input {
  padding: 8px 16px;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: #fff;
  box-sizing: border-box;
}
.chat__input::placeholder {
  color: #445259;
}
.chat__send-button {
  border: none;
  color: #fff;
  background-color: #244b6d;
  border-radius: 8px;
  padding: 4px 16px;
}
