.signin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  padding: 40px;
  width: 276px;
  border-radius: 15px;
  box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.signin__form {
  display: flex;
  flex-direction: column;
}
.form__group {
  margin-bottom: 32px;
}
.form__input {
  padding: 8px 12px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
}
.form__input::placeholder {
  color: #c1c1c1;
}
.form__button {
  border-radius: 50px;
  background: #3b8edb;
  font-size: 20px;
  padding: 8px;
  color: #fff;
  display: block;
  outline: none;
  margin-bottom: 8px;
}
.form__button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.form__link {
  color: #3b8edb;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}
.form__link:hover{
    opacity: .7;
}
