.signin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signin__title {
  color: var(--main-text-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}
.signin__link {
  color: var(--button-color);
  font-family: Roboto,  sans-serif;;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  margin-top: 8px;
}
.signin__link:hover {
  color: var(--button-hover-color);
}