<main class="signin">
  <h1 class="signin__title">Sign in</h1>
  {{#Form onSubmit=submitHandler}}
    {{#Fieldset title="Login" inputId="login" error=""}}
      {{{Input
        id="login"
        htmlType="text"
        name="login"
        placeholder="Enter your login"
        onKeyUp=changeHandler
        value=login
      }}}
    {{/Fieldset}}
    {{#Fieldset title="Password" inputId="password" error=""}}
      {{{Input
        id="password"
        htmlType="password"
        name="password"
        placeholder="Enter your password"
        onKeyUp=changeHandler
        value=password
      }}}
    {{/Fieldset}}
    {{#Button type="submit"}}
      Sign In
    {{/Button}}
  {{/Form}}
  <p>{{msg}}</p>
  <a href="/signup" class="signin__link">Create account</a>
</main>