body {
  background-color: var(--main-bg-color);
  overflow: hidden;
  margin: 0;
}
p,
a,
input,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
li,
ul,
ol {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color: #0e1621;
  --secondary-bg-color: #17212b;
  --primary-bg-color: #2b5278;
  --input-background-color: #242f3d;
  --main-text-color: #ffffff;
  --secondary-text-color: #8f8f8f;
  --danger-text-color: #d70404;
  --button-color: #244b6d;
  --button-hover-color: #2f6ea5;
}
