.body_theme_dark {
  background: var(/*var(aaaa)*/ --bg-color-primary-dark);
}
.body_theme_light {
  background: var(/*var(aaaa)*/ --bg-color-light);
}
:root {
  font-family: "Montserrat", sans-serif;

  /*var(--bg-color-light)*/
  --bg-color-light: #f7f9fc;
  /*var(--bg-color-primary-light)*/
  --bg-color-primary-light: #f2f5f9;
  /*var(--bg-color-secondary-light)*/
  --bg-color-secondary-light: #fff;
  /*var(--bg-color-danger-light)*/
  --bg-color-danger-light: #fcd7d7;
  /*var(--color-primary-light)*/
  --color-primary-light: #393958;
  /*var(--color-secondary)*/
  --color-secondary: #808080;
  /*var(--bg-color-danger)*/
  --bg-color-danger: #d83232;
  /*var(--color-danger)*/
  --color-danger: #ffcaca;
  /*var(--color-success)*/
  --color-success: #2dd082;

  /*var(--bg-color-primary-dark)*/
  --bg-color-primary-dark: #141414;
  /*var(--bg-color-secondary-dark)*/
  --bg-color-secondary-dark: #1f2021;
  /*var(--bg-color-dark)*/
  --bg-color-dark: #49577a;
  /*var(--color-primary-dark)*/
  --color-primary-dark: #d0d0d0;
}
