<div class="{{styles.profile__field}}">
  <a href="#" class="{{styles.profile__link}}">Change password</a>
  {{{PasswordForm
    onClose=modalCloseHandler
    onKeyUp=onKeyUp
    isModalShown=isModalShown
    validator=validator
  }}}
</div>