.profile__link {
  color: var(--bg-color-dark);
  font-size: 24px;
  margin-bottom: 12px;
  transition: 0.3s ease;
  text-decoration: none;
}

.profile__link:hover {
  opacity: 0.7;
}

.profile__link_color_danger {
  color: var(--bg-color-danger);
}
