<div>
  <a href="#" class="{{styles.profile__link}}">Change password</a>
  {{{Modal
    title="password"
    name="password"
    onClose=modalCloseHandler
    onKeyUp=onKeyUp
    isModalShown=isModalShown
  }}}
</div>