<li class="{{liClassName}}">
  <p class="chat__message-text">{{text}}</p>
  <div class="chat__message-info">
    <span class="chat__message-time">{{datetime}}</span>
    <span class="chat__message-status">{{status}}</span>
  </div>
</li>