.main__message {
}

.message {
  display: flex;
  gap: 16px;
  width: 100%;
  max-width: 520px;
}

.message_me {
  align-self: end;
  flex-direction: row-reverse;
}

.message__img {
  height: 30px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.message__message {
  position: relative;
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 24px;
  background: var(--bg-color-primary-dark);
}

.body_theme_light .message__message {
  background: var(--bg-color-secondary-light);
}

.message_me .message__message {
  background: var(--bg-color-dark);
}

.message__text {
  margin: 0;
  color: var(--color-primary-dark);
}

.body_theme_light .message__text {
  color: var(--color-secondary);
}

.body_theme_light .message_me .message__text {
  color: var(--bg-color-secondary-light);
}

.message__info {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  right: 16px;
  bottom: 8px;
}

.message__time {
  line-height: 1;
  font-size: 10px;
  color: var(--color-primary-dark);
  background: var(--bg-color-secondary-dark);
  border-radius: 4px;
  padding: 4px 8px;
}

.body_theme_light .message__time {
  color: var(--color-primary-light);
  background: var(--bg-color-light);
}

.message_me .message__time {
  background: var(--color-primary-light);
}

.body_theme_light .message_me .message__time {
  background: var(--color-primary-light);
  color: var(--bg-color-secondary-light);
}

.message__status {
  width: 12px;
  height: 12px;
  object-fit: contain;
}
